@mixin title {
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: $black;  
}

@mixin text {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    white-space: pre-line;
    color: $black;
}

@mixin textGray {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    white-space: pre-line;
    color: $gray;
}